*{
  padding: 0;
  margin: 0;
}
body{
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
}
#header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px;
  background:#c9c0bb;
}
#header h1{
  font-weight: 300;
  font-family: cursive;
  font-style:oblique;
  text-transform: capitalize;
}
.recherche{
  top: 50%;
  left: 50%;
  transform: translate(3%,3%);
  background:#c9c0bb;
  height: 29px;
  border-radius: 40px;
}
.recherche:hover  .recherche-text{
  width: 150px;
  padding: 0 6px;
}
.recherche:hover .recherche-btn{
  background: #2D567C;
}
.recherche-btn{
  color: black;
  float: left;
  width: 20px;
  height: 20px;
  margin-top: 30px;
  border-radius: 50%;
  background: #c9c0bb;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}
.recherche-text{
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: black;
  font-size: 13px;
  transition: 0.4s;
  line-height: 40px;
  width: 0px;
}
 form .bx{
  margin-top:37px;
}
.btn-cnx{
width: 100px;
height: 30px;
background:#2D567C;
border: 2px solid #2D567C; 
margin-top: 4px ;
color: white;
font-size: 14px;
border-radius: 10px;
cursor: pointer;
}
#barre-menu{
  display: flex;
  align-items: center;
  justify-content: center;
}
#barre-menu li{
  list-style: none;
  padding: 0 30px;
}
#barre-menu li a{
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  color: black;
  transition: 0.2s ease;
}
#barre-menu li a:hover{
  color: #2D567C;
}
.sub_menu{
  display: none;

}
#barre-menu li:hover .sub_menu{
display: inline;
position: absolute ;
background:#c9c0bb;
margin-top: 26px;
right: 590px;
}
#barre-menu li:hover .sub_menu ul{
display: block;
margin: 12px;
}
#barre-menu li:hover .sub_menu ul li{
width: 120px;
padding: 10px;
margin-top: 10px;
border-bottom: 1px dotted black;
background: transparent;
border-radius: 0;
text-align: left;
}


.tout{
 text-align: center;
 font-family: monospace ;
}
.question{
  left: 250px;
}
.question h1{
    color: #008B8B;
    top: 20px;
    font-size:70px;
    font-family: 'Dancing Script', cursive;
}
.question h2{
  top: 20px;
  font-size: 30px;
  font-family: 'Dancing Script', cursive;
}
.comment h2{
  font-family: 'Lobster', cursive;
  color: #5F9EA0;
  font-size: 50px;

}
img{ 
width: 600px; 
height: 500px;
position: relative;
left:50px;
top: 30px;
margin-bottom: 30px;
}


.footer {
  margin-top: 10px;
  width: 70%;
  padding: 29px 15%;
  background: #c9c0bb;
  color: black;
 display: flex;
 text-transform: capitalize;
}
.footer-end1 :hover{
    color: #2D567C;
    padding-left: 10px;
}

.footer div{
  text-align: center;
  }
.footer-end2{
  flex-grow: 5;
  padding-left: 10px;
}
.footer-end2:hover{
    color: #2D567C;
    padding-left: 10px;
}
.footer-end3:hover{
    color: #2D567C;
    padding-left: 10px;
}
.footer div h4{
  font-weight: 670;
  margin-top: 40px;
  letter-spacing: 3px;
}
.footer-end1 a{
  display: block;
  text-decoration: none;
  color: black;
  margin-bottom: 8px;
}
form input{
  width: 410px;
  height: 45px;
  border-radius: 5px;
  text-align: center;
  margin-top: 21px;
  margin-bottom: 26px;
  outline: none;
  border: none;
}
.footer-end2 button{
  background: lightgray;
  border: 2px solid #fff;
  color: #fff;
  border-radius: 30px;
  padding: 10px 35px;
  font-size: 17px;
  cursor: pointer;
}