*{
  padding: 0;
  margin: 0;
}
body{
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
}
#header{
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
  background:#c9c0bb;
}
#header h1{
  font-weight: 300;
  font-family: cursive;
  font-style:oblique 5deg;
  text-transform: capitalize;
}
.recherche{
  top: 50%;
  left: 50%;
  height: 29px;
}
.recherche:hover  .recherche-text{
  width: 150px;
  padding: 0 6px;
}
.recherche:hover .recherche-btn{
  background: #2D567C;
}
.recherche-btn{
  color: black;
  float: left;
  width: 20px;
  height: 20px;
  margin-top: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}
.recherche-text{
  border: none;
  background: none;
  float: left;
  color: black;
  font-size: 13px;
  transition: 0.4s;
  line-height: 40px;
  width: 0px;
}
form .bx{
  margin-top:37px;
}
.btn-cnx{
width: 100px;
height: 30px;
background:#2D567C;
border: 2px #2D567C; 
margin-top: 4px ;
color: white;
font-size: 14px;
border-radius: 10px;
cursor: pointer;
}
#barre-menu{
  display: flex;
  align-items: center;
}
#barre-menu li{
  list-style: none;
  padding: 0 30px;
}
#barre-menu li a{
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  color: black;
}
#barre-menu li a:hover{
  color: #2D567C;
}
.sub_menu{
  display: none;
}

#barre-menu li:hover .sub_menu{
display: inline;
position: absolute ;
background:#c9c0bb;
margin-top: 26px;
right: 590px;
}
#barre-menu li:hover .sub_menu ul{
display: block;
margin: 12px;
}
#barre-menu li:hover .sub_menu ul li{
width: 120px;
padding: 10px;
margin-top: 10px;
border-bottom: 1px dotted black;
background: transparent;
border-radius: 0;
text-align: left;
}
.panier {
  width: 100px;
  height: 80px;
  margin: 100px auto;
  background: lavender;
  box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
}
.item {
  padding: 20px 30px;
  height: 50px;
  display: flex;
}
 
.item:nth-child(3) {
  border-top:  1px solid #E1E8EE;
  border-bottom:  1px solid #E1E8EE;
}

.delete-btn {
  display: inline-block;
  Cursor: pointer;
}
.delete-btn {
  width: 18px;
  height: 17px;
  background: url(&amp;quot;delete-icn.svg&amp;quot;) no-repeat center;
}
.image {
  margin-right: 100px;
  width: 20px;
  height: 10px;
  right: 1000px;
}
 
.description {
  padding-top: 10px;
  margin-right: 60px;
  width: 115px;
  width: 500px;
  text-align: center;
  margin: 6px 0;
}
 
.description span {
  display: block;
  font-size: 14px;
  color: #43484D;
  font-weight: 400;
}
 
.description span:first-child {
  margin-bottom: 5px;
}
.description span:last-child {
  font-weight: 300;
  margin-top: 8px;
  color: #86939E;
}
.quantité input {
  color: black;
  background-color: #FFFFFF;
 width: 100px;
 margin: 10px;
 padding: 2px;
 top: 10px;
}
.buttons {
  width: 50px;
  height: 30px;
  background-color: #FFFFFF;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  position: relative;
  left: 600px;
  top: 35px;
}
.total-price {
  width: 83px;
  padding-top: 27px;
  text-align: left;
  font-size: 16px;
  color: #43484D;
  font-weight: 300;
}
  .panier {
    width: 1000px;
    height: auto;
    overflow: hidden;
  }
  .item {
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
  }
  .image img {
    width: 150px;
    left: 0px;
  }
  .quantité{
    left: 0px;
    padding: 20px;
  }
  .description {
    width: 500px;
    text-align: center;
    margin: 6px 0;
  }
  input[type=submit]{
    width: 300px;
height: 50px;
border-radius: 8px;
border: none;
background-color: #1fb3bf;
color: white;
font-weight: bold;
font-size: 1.5em;
position: relative;
left: 400px;
}
label[inputZip]{
  background-color: #1fb3bf;
}
.footer {
  margin-top: 10px;
  width: 70%;
  padding: 29px 15%;
  background: #c9c0bb;
  color: black;
 display: flex;
 text-transform: capitalize;
}
.footer-end1 :hover{
    color: #2D567C;
    padding-left: 10px;
}

.footer div{
  text-align: center;
  }
.footer-end2{
  flex-grow: 5;
}
.footer-end2:hover{
    color: #2D567C;
    padding-left: 10px;
}
.footer-end3:hover{
    color: #2D567C;
    padding-left: 10px;
}
.footer div h4{
  font-weight: 670;
  margin-top: 40px;
  letter-spacing: 3px;
}
.footer-end1 a{
  display: block;
  text-decoration: none;
  color: black;
  margin-bottom: 8px;
}
form input{
  width: 410px;
  height: 45px;
  border-radius: 5px;
  text-align: center;
  margin-top: 21px;
  margin-bottom: 26px;
  outline: none;
  border: none;
}
.footer-end2 button{
  background: lightgray;
  border: 2px solid #fff;
  color: #fff;
  border-radius: 30px;
  padding: 10px 35px;
  font-size: 17px;
  cursor: pointer;
}